.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > .table {
    > div {
      > div {
        > table {
          > tbody {
            tr {
              transition: all 0.2s ease-out;
              &:hover {
                background: #e3f2fd;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
  > .pagination {
    margin: 20px;
  }
}
