* {
  margin: 0;
  padding: 0;
}

.container {
  width: 241px;
  height: 140px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  color: white;
  margin: 10px;
  letter-spacing: 0.15px;
  background: linear-gradient(180deg, #0063ff 0%, #0032ba 100%);


  > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > p {
      &:first-child {
        font-size: 24px;
        line-height: 38px;
      }
      &:nth-child(2) {
        font-size: 16px;
      }
    }
  }

  > div {
    display: flex;
    width: 190px;
    justify-content: space-between;
    font-size: 12px;
    align-items: center;

    > p:nth-child(3) {
      font-weight: bold;
    }
  }
}
